.odd {
    background-color: #ffb6c1;
    font-family: "Verdana", "DejaVu Sans", sans-serif;

}

#second {
    color: #0000ff;
    font-size: 36px;

}

#fourth {
    background-color: hsl(120, 73%, 75%);
    font-size: 24px;
    font-weight: bold;
}

/*In the given solution, they used another class named adjust-font-size
to change the font size of fourth and third element. I used inline css to change it.*/